{% extends "AppCoder/padre.html" %}

{% load static %}

{% block titulo %}
<h1 class="mb-5">Página de edición del curso</h1>
{% endblock %}

{% block contenido_que_cambia %}
<h2 class="text-center">Editar curso</h2>

<form class="d-flex flex-column align-items-center" method="POST">{% csrf_token %}
    {{ form.as_p}}
    <div>
        <a class="mb-2 btn btn-primary" href="{% url 'cursos' %}">Cancelar</a>
        <input class="mb-2 btn btn-success" type="submit" value="Editar">
    </div>
</form>
{% endblock %}