{% extends "AppCoder/padre.html" %}

{% load static %}

{% block titulo %}
<h1 class="mb-5">Curso {{ object }}</h1>
{% endblock %}

{% block contenido_que_cambia %}
<h1 class="text-center mt-2">Formulario de Curso</h1>

<form class="d-flex flex-column align-items-center mb-4" method="post">{% csrf_token %}
    ¿Estas seguro que deseas borrar el curso "{{ object }}"?
    <div class="d-flex gap-2">
        <a class="btn btn-primary" href="{% url 'cursos' %}">Volver</a>
        <input class="btn btn-danger" type="submit" value="Eliminar">
    </div>
</form>
{% endblock %}