{% extends "AppCoder/padre.html" %}

{% load static %}


{% block titulo %}
    <h1 class="color-coder">Bienvenidos a la página de Entregables!</h1>
{% endblock %}

{% block contenido_que_cambia %}

<h2 class="text-center">Aca estan las Pre entregas</h2>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            
            <th>Nombre</th>
            <th>Fecha entrega</th>
        </tr>
    </thead>
    <tbody>



        {% for entregable in entregables %}
        <tr>
            
            <td>
                {{ entregable.nombre}}
            </td>
            <td>
                {{ entregable.fecha_entrega}}
            </td>
            
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}