{% extends "AppCoder/padre.html" %}

{% load static %}

{% block titulo %}
<h1 class="mb-5">Página de eliminación de estudiante</h1>
{% endblock %}

{% block contenido_que_cambia %}
<h1 class="text-center mt-2">Eliminar estudiante</h1>

<form class="d-flex flex-column align-items-center mb-4" method="post">{% csrf_token %}
    <p>
    ¿Estas seguro que deseas eliminar el estudiante "{{ object }}"?
    </p>
    <div>
        <a class="btn btn-primary" href="{% url 'estudiantes' %}">Cancelar</a>
        <input class="btn btn-danger" type="submit" value="Eliminar">
    </div>

</form>
{% endblock %}