{% extends "AppCoder/padre.html" %}

{% load static %}

{% block titulo %}
<h1 class="mb-5 color-coder">Inicia sesión para ingresar a la página</h1>
{% endblock %}

{% block contenido_que_cambia %}
<div class="d-flex flex-column align-items-center">
<h3>{{ mensaje }}</h3>
<h3>Iniciar sesión</h3>
<form class="d-flex flex-column" action="{% url 'login' %}" method="POST"> {% csrf_token %}

    <table>

        {{ form.as_table }}
    
    </table>

    <input class="btn btn-success my-2" type="submit" value="Iniciar sesión">




</form>
</div>
{% endblock %}